
    /* General Styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        height: 100vh;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
  


      /* vId */
      
      .containerVid {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    span.hid{
      margin: 5px;
      font-size: large;
      font-weight: bold;
    }

    span.hid:hover{
      font-size: x-large;
      cursor: pointer;
      color: #007bff;

    }
    h1, h2 {
        text-align: center;
    }

    video {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
        max-height: 450px;
    }

    .containerVid ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .containerVid ul li {
      margin-bottom: 10px;
      background: #ddd;
      direction: rtl;
      text-align: start;
      padding: 0 15px;
    }

    .containerVid ul li:hover {
        margin-bottom: 15px;
        background: #c1c1c1;
    }

    .containerVid ul li a {
        color: #333;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .containerVid ul li a:hover {
        color: #007bff;
    }


      /* Header Styles */
       header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  header h1 {
    margin: 0;
    padding: 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ccc;
  }
  select {
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
  }
  select option {
    background-color: #555;
    color: #fff;
  }
  
      /* Login Form Styles */
      .login-form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }
      .login-form input[type="text"],
      .login-form input[type="password"],
      .login-form button {
        width: 97%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
      }
      .login-form button {
        background-color: #007bff;
        color: #ffffff;
        cursor: pointer;
      }
      .login-form button:hover {
        background-color: #0056b3;
      }
  
      /* Dashboard Styles */
      .dashboard {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      .dashboard h1 {
        margin-bottom: 20px;
        color: #333333;
        text-align: center;
      }
      .dashboard a {
        display: block;
        margin-bottom: 10px;
        color: #007bff;
        text-decoration: none;
      }
      .dashboard a:hover {
        text-decoration: underline;
      }
      .MainContent{
    height: 100%;
    background-color: #e9ecef;
    border-radius: .3rem;
}

      
 

  /* Track Card Style */
  .contCARD{
    margin-top: 3rem !important;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 360px;
    width: 100%;
    min-width: 300px;
    flex-wrap: wrap;
    top: 0;
    
}
  
  .track-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: calc(33.33% - 20px); /* Adjust card width to fit three cards in a row */
    width: 290px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    height: 400px;
    flex: 0 0 calc(33.33% - 20px); /* Fix card width to one-third of the container */
  }
  .track-card .img img {
width: inherit;
  }
.img {
  height: 50px;
    width: 200px;
    margin: 20px auto;
}

  
  .track-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transform: scale(1.1); 
  }
  .track-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  .track-card:hover img {
    transform: scale(1.1); /* Scale up image on hover */
  }
  .track-card-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  .track-card:hover .track-card-content {
    background-color: rgba(255, 255, 255, 0.95); /* Lighten background color on hover */
  }
  .track-card h2 {
    margin-bottom: 10px;
    color: #333333;
  }
  .track-card p {
    margin-bottom: 10px;
    color: #666666;
  }
  .track-card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  .track-card .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }



  /* footer */
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0 0;
    text-align: center;
    position: relative;
    bottom: -30px;

  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }
  
  .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #343a40;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s ease;
  }
  
  .social-links a:hover {
    background-color: #eeeeee;
  }


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  /* footer */




  
 

  /* Media Queries */
@media screen and (max-width: 767px) {
  /* Adjustments for smaller screens */
  .container {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  
  .contCARD{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    top: 500px;
    height: 100vh;
    margin: 0 auto;

}

  .track-card {
    width: 230px;
    flex: 230px;
    flex-grow: inherit;
  }
}